@import "tailwindcss";

@theme {
    --animate-fadeUp: fadeUp 0.5s ease-in-out forwards;
    @keyframes fadeUp {
        0% {
            opacity: 0;
            transform: translateY(-30px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    --spacing-section: calc(var(--spacing) * 6);
    --spacing-sectionlg: calc(var(--spacing) * 15);
}

body {
    font-family: "Inter", "Noto Sans TC", sans-serif;
}
