@import "tailwindcss";

@theme {
    --animate-fadeUp: fadeUp 0.5s ease-in-out forwards;
    @keyframes fadeUp {
        0% {
            opacity: 0;
            transform: translateY(-30px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}
